<?xml version="1.0"?>
<launch>
  <!-- Load urdf and joint state publishers -->
  <arg name="model" default="$(find arosrobot_description)/urdf/arosrobot.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Load motor configuration -->
  <rosparam command="load" file="$(find arosrobot_base)/cfg/hw_config.yaml" />
  <node name="arosrobot_base_control" 
        pkg="arosrobot_base" 
        type="arosrobot_base_control"/>
  <node pkg="arosrobot_base" type="arosrobot_base_node" name="arosrobot_base" respawn="false" />

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find arosrobot_control)/config/control.yaml" />

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="arosrobot_joint_publisher arosrobot_velocity_controller"/>
<!--
  <include file="$(find arosrobot_joy)/launch/teleop.launch">
  </include>
-->
</launch>
