<?xml version="1.0"?>
<launch>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(find rplidar_ros)/config/laser_params.yaml" />
  </node>

  <node type="laser_scan_assembler" pkg="laser_assembler" name="my_assembler">
    <remap from="scan" to="scan_filtered"/>
    <param name="max_scans" type="int" value="400" />
    <param name="fixed_frame" type="string" value="rplidar_scan" />
  </node>
<!--
  <node type="periodic_snapshotter" pkg="laser_assembler" name="periodic_snapshotter">
  </node>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.1" />
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam>
      odom_frame: odom
      base_frame: base_link
      map_frame: map_gmap

      map_update_interval: 0.5 # Publish new map

      maxUrange: 20 # Should be just less than sensor range
      maxRange: 40 # Should be just greater than sensor range
      particles: 100 # Increased from 80

    <param name="frame_id" type="string" value="map" />

    <param name="sensor_model/max_range" value="30.0" />

    <remap from="cloud_in" to="/velodyne_points" />

  </node>
-->
</launch>

