<?xml version="1.0"?>
<launch>
  <node type="laser_scan_assembler" pkg="laser_assembler" name="my_assembler">
    <remap from="scan" to="scan_filtered"/>
    <param name="max_scans" type="int" value="400" />
    <param name="fixed_frame" type="string" value="base_link" />
  </node>
<!--
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.1" />

    <param name="frame_id" type="string" value="map" />

    <param name="sensor_model/max_range" value="30.0" />

    <remap from="cloud_in" to="/velodyne_points" />

  </node>
-->
</launch>

