<?xml version="1.0"?>
<launch>
	<!--
  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
      name="laser_filter">
    <rosparam command="load" file="$(find rplidar_ros)/config/laser_params.yaml" />
  </node>
-->
  <!-- Start EKF for localization -->
  <rosparam command="load" file="$(find icerobot_control)/config/gazebo_localization.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true">
    <remap from="imu/data" to="um7/imu/data"/>
  </node>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
    <remap from="imu/data" to="um7/imu/data"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
    <!--
    <remap from="gps/fix" to="fix"/>
	-->
    <remap from="imu/data" to="um7/imu/data"/>
  </node>
  <arg name="map_file" default="$(find icerobot_navigation)/maps/orchard.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <arg name="scan_topic" default="scan" />
  <!--
  <include file="$(find icerobot_navigation)/launch/move_base.launch" />
  -->
</launch>
