<?xml version="1.0"?>
<launch>

  <!-- Start EKF for localization 
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find icerobot_teleop)/config/localization.yaml" />
  </node>
-->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom">
    <rosparam command="load" file="$(find icerobot_control)/config/localization.yaml" />
  </node>

</launch>
