<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="azure_depth" params="topic parent_link">
    <xacro:macro name="azure_init" params="
               frame:=azure              topic:=azure
               h_fov:=1.3090             v_fov:=1.1345
               min_range:=0.105          max_range:=3.86
               width:=576                height:=640
               update_rate:=30
               robot_namespace:=/">
	       
      <link name="${frame}" />

      <link name="${frame}_gazebo" />
      <joint name="${frame}_gazebo_joint" type="fixed">
        <parent link="${frame}"/>
        <child link="${frame}_gazebo"/>
        <origin xyz="0.0 0 0" rpy="-1.5707963267948966 0 -1.5707963267948966"/>
      </joint>
      <gazebo reference="${frame}">
        <sensor type="depth" name="azure_cam">
          <update_rate>${update_rate}</update_rate>
          <camera>
            <horizontal_fov>${h_fov}</horizontal_fov>
            <image>
              <width>${width}</width>
              <height>${height}</height>
              <format>RGB8</format>
            </image>
            <clip>
              <near>0.01</near>
              <!-- Max distance -->
              <far>50.0</far>
            </clip>
          </camera>
          <plugin name="azure_controller" filename="libgazebo_ros_openni_kinect.so">
            <baseline>0.2</baseline>
            <alwaysOn>true</alwaysOn>
            <updateRate>${update_rate}</updateRate>
            <cameraName>${topic}</cameraName>
            <imageTopicName>color/image_raw</imageTopicName>
            <cameraInfoTopicName>color/camera_info</cameraInfoTopicName>
            <depthImageTopicName>depth/image_rect_raw</depthImageTopicName>
            <depthImageInfoTopicName>depth/camera_info</depthImageInfoTopicName>
            <pointCloudTopicName>depth/color/points</pointCloudTopicName>
            <frameName>${frame}_gazebo</frameName>
            <pointCloudCutoff>${min_range}</pointCloudCutoff>
            <pointCloudCutoffMax>${max_range}</pointCloudCutoffMax>
            <distortionK1>0.00000001</distortionK1>
            <distortionK2>0.00000001</distortionK2>
            <distortionK3>0.00000001</distortionK3>
            <distortionT1>0.00000001</distortionT1>
            <distortionT2>0.00000001</distortionT2>
            <CxPrime>0</CxPrime>
            <Cx>0</Cx>
            <Cy>0</Cy>
            <focalLength>0</focalLength>
            <hackBaseline>0</hackBaseline>
          </plugin>
        </sensor>
      </gazebo>
    </xacro:macro>

    <joint name="azure_joint" type="fixed">
      <origin xyz="0.10 0.007 1.345" rpy="0 0 -${PI/2}"/>
      <parent link="${parent_link}"/>
      <child link="azure_camera_link"/>
    </joint>
  
    <link name="azure_camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
         <mesh filename="package://icerobot_description/meshes/camera.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.012 0.132 0.020"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.44" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.000881243" ixy="0.0" ixz="0.0"
                 iyy="0.000498940" iyz="0.0"
                 izz="0.000879257" />
      </inertial>
    </link>
  
    <joint name="azure_lens_joint" type="fixed">
      <origin xyz="-0.1 0 0" rpy="0 0 -${PI}"/>
      <parent link="azure_camera_link"/>
      <child link="azure_lens_frame"/>
    </joint>
    <link name="azure_lens_frame"/>
  
    <joint name="azure_lens_gazebo_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="azure_lens_frame"/>
      <child link="azure_camera"/>
    </joint>
    <xacro:azure_init frame="azure_camera"/>
  </xacro:macro>
  <xacro:macro name="kinect360_depth" params="topic parent_link">
    <xacro:macro name="kinect360_init" params="
               frame:=kinect360_frame       topic:=kinect360
               h_fov:=1.3090             v_fov:=1.1345
               min_range:=0.105          max_range:=3.86
               width:=576                height:=640
               update_rate:=30
               robot_namespace:=/">
	       
      <link name="${frame}" />

      <link name="${frame}_gazebo" />
      <joint name="${frame}_gazebo_joint" type="fixed">
        <parent link="${frame}"/>
        <child link="${frame}_gazebo"/>
        <origin xyz="0.0 0 0" rpy="-1.5707963267948966 0 -1.5707963267948966"/>
      </joint>
      <gazebo reference="${frame}">
        <sensor type="depth" name="kinect360_cam">
          <update_rate>${update_rate}</update_rate>
          <camera>
            <horizontal_fov>${h_fov}</horizontal_fov>
            <image>
              <width>${width}</width>
              <height>${height}</height>
              <format>RGB8</format>
            </image>
            <clip>
              <near>0.01</near>
              <!-- Max distance -->
              <far>50.0</far>
            </clip>
          </camera>
          <plugin name="kinect360_controller" filename="libgazebo_ros_openni_kinect.so">
            <baseline>0.2</baseline>
            <alwaysOn>true</alwaysOn>
            <updateRate>${update_rate}</updateRate>
            <cameraName>${topic}</cameraName>
            <imageTopicName>color/image_raw</imageTopicName>
            <cameraInfoTopicName>color/camera_info</cameraInfoTopicName>
            <depthImageTopicName>depth/image_rect_raw</depthImageTopicName>
            <depthImageInfoTopicName>depth/camera_info</depthImageInfoTopicName>
            <pointCloudTopicName>depth/color/points</pointCloudTopicName>
            <frameName>${frame}_gazebo</frameName>
            <pointCloudCutoff>${min_range}</pointCloudCutoff>
            <pointCloudCutoffMax>${max_range}</pointCloudCutoffMax>
            <distortionK1>0.00000001</distortionK1>
            <distortionK2>0.00000001</distortionK2>
            <distortionK3>0.00000001</distortionK3>
            <distortionT1>0.00000001</distortionT1>
            <distortionT2>0.00000001</distortionT2>
            <CxPrime>0</CxPrime>
            <Cx>0</Cx>
            <Cy>0</Cy>
            <focalLength>0</focalLength>
            <hackBaseline>0</hackBaseline>
          </plugin>
        </sensor>
      </gazebo>
    </xacro:macro>

    <joint name="kinect360_joint" type="fixed">
      <origin xyz="0.10 0.007 1.345" rpy="0 0 -${PI/2}"/>
      <parent link="${parent_link}"/>
      <child link="kinect360_camera_link"/>
    </joint>
  
    <link name="kinect360_camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
         <mesh filename="package://icerobot_description/meshes/camera.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.012 0.132 0.020"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.44" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.000881243" ixy="0.0" ixz="0.0"
                 iyy="0.000498940" iyz="0.0"
                 izz="0.000879257" />
      </inertial>
    </link>
  
    <joint name="kinect360_lens_joint" type="fixed">
      <origin xyz="-0.1 0 0" rpy="0 0 -${PI}"/>
      <parent link="kinect360_camera_link"/>
      <child link="kinect360_lens_frame"/>
    </joint>
    <link name="kinect360_lens_frame"/>
  
    <joint name="kinect360_lens_gazebo_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="kinect360_lens_frame"/>
      <child link="kinect360_camera"/>
    </joint>
    <xacro:kinect360_init frame="kinect360_camera"/>
  </xacro:macro>
</robot>

