<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="imu_setup" params="topic_imu_um7 topic_imu_azure parent_link">  

    <!-- UM7 link -->
    <link name="um7_imu_link"/>
    <joint name="um7_imu_joint" type="fixed">
	    <origin xyz="-0.10 0.007 1.28" rpy="${PI} 0 0" />
      <parent link="${parent_link}" />
      <child link="um7_imu_link" />
    </joint>
    <gazebo reference="um7_imu_link">
    </gazebo>
    <gazebo>
      <plugin name="um_7_imu_controller" filename="libhector_gazebo_ros_imu.so">
        <robotNamespace>$(arg robot_namespace)</robotNamespace>
        <updateRate>50.0</updateRate>
        <bodyName>${parent_link}</bodyName>
        <topicName>${topic_imu_um7}</topicName>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <accelDrift>0.005 0.005 0.005</accelDrift>
        <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
        <rateDrift>0.005 0.005 0.005 </rateDrift>
        <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
        <headingDrift>0.005</headingDrift>
        <headingGaussianNoise>0.005</headingGaussianNoise>
      </plugin>
    </gazebo>

    <!-- Azure IMU -->
    <link name="azure_imu_link"/>
    <joint name="azure_imu_joint" type="fixed">
      <origin xyz="-0.10 0.007 1.39" rpy="0 0 0" />
      <parent link="${parent_link}" />
      <child link="azure_imu_link" />
    </joint>
    
    <gazebo reference="azure_imu_link">
    </gazebo>

    <gazebo>
      <plugin name="azure_imu_controller" filename="libhector_gazebo_ros_imu.so">
        <robotNamespace>$(arg robot_namespace)</robotNamespace>
        <updateRate>50.0</updateRate>
	<bodyName>${parent_link}</bodyName>
        <topicName>${topic_imu_azure}</topicName>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <accelDrift>0.005 0.005 0.005</accelDrift>
        <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
        <rateDrift>0.005 0.005 0.005 </rateDrift>
        <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
        <headingDrift>0.005</headingDrift>
        <headingGaussianNoise>0.005</headingGaussianNoise>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>

