<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find icerobot_description)/urdf/icerobot.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <rosparam command="load" file="$(find icerobot_base)/launch/hw_config.yaml" />
  <node name="icerobot_base_control" 
        pkg="icerobot_base" 
        type="icerobot_base_control"/>
  <node pkg="icerobot_base" type="icerobot_base_node" name="icerobot_base" respawn="false" />

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find icerobot_control)/config/control.yaml" />

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="icerobot_joint_publisher icerobot_velocity_controller"/>
<!--
  <include file="$(find icerobot_joy)/launch/teleop.launch">
  </include>
-->
</launch>
