<?xml version="1.0"?>
<launch>
  <include file="$(find icerobot_control)/launch/icerobot_navsat_localization.launch">
  </include>
  <!-- IMU sensor -->
  <include file="$(find um7_imu)/launch/um7.launch">
  </include>
  <!-- GPS -->
  <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch">
  </include>
  <!-- Velodyne LiDAR --> 
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
  </include>
  <include file="$(find azure_kinect_ros_driver)/launch/driver.launch">
  </include>

 
  <!-- RPLidar 
-->
  <include file="$(find rplidar_ros)/launch/rplidar_s1.launch">
  </include>
  <!-- gmapping 
  <include file="$(find icerobot_navigation)/launch/slam_cost.launch">
  </include>
-->

</launch>

