<?xml version="1.0"?>
<launch>
  <!-- Start EKF for localization-->
  <include file="$(find icerobot_control)/launch/icerobot_navsat_localization.launch">
  </include>

  <!-- IMU sensor -->
  <node pkg="um7" name="um7_node" type="um7_driver">
    <param name="_port" value="/dev/ttyUSB0"/>
    <remap from="imu" to="um7/imu"/>
  </node>

  <!-- GPS -->
  <node pkg="nmea_navsat_driver" name="nmea_to_navsat" type="nmea_serial_driver">
    <param name="_port" value="/dev/ttyUSB2"/>
    <param name="_baud" value="115200"/>
  </node>
  
  <!-- Velodyne LiDAR -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
  </include>

  <include file="$(find azure_kinect_ros_driver)/launch/azure.launch">
  </include>
</launch>
