<?xml version="1.0"?>
<launch>

  <include file="$(find icerobot_base)/launch/hw_control.launch">
  </include>
  
  <include file="$(find icerobot_joy)/launch/teleop.launch">
  </include>
<!--
  <include file="$(find icerobot_key)/launch/icerobot_teleop_key.launch">
  </include>
-->
  <!--<include file="$(find icerobot_sensor_bringup)/launch/sensor_boot.launch">
  </include>
-->
</launch>
