<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find icerobot_description)/urdf/icerobot.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find icerobot_teleop)/config/control.yaml" />

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="icerobot_joint_publisher icerobot_velocity_controller"/>

  <!-- Start EKF for localization 
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find icerobot_teleop)/config/localization.yaml" />
  </node>
-->
  <rosparam command="load" file="$(find icerobot_teleop)/config/navsat_localization.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
    <remap from="gps/fix" to="navsat/fix"/>
    <remap from="imu/data" to="imu/data"/>1

  </node>
  <arg name="joy_config" default="f710" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="config_filepath" default="$(find teleop_twist_joy)/config/$(arg joy_config).config.yaml" />
  <arg name="joy_topic" default="joy" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.3" />
    <param name="autorepeat_rate" value="20" />
    <remap from="joy" to="$(arg joy_topic)" />
  </node>

  <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <rosparam command="load" file="$(arg config_filepath)" />
    <remap from="joy" to="$(arg joy_topic)" />
  </node>

  <node pkg="um7" name="um7_node" type="um7_driver">
    <param name="_port" value="/dev/ttyUSB0"/>
  </node>
	     
  <node name="ros_phoenix_control" 
        pkg="ros_phoenix" 
        type="ros_phoenix_control"/>
  <rosparam command="load" file="$(find ros_phoenix)/launch/test_frame.yaml" />
  <node pkg="ros_phoenix" type="ros_phoenix_node" name="ros_phoenix" respawn="false" />

  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
  </include>
</launch>
